<ion-header>
    <ion-toolbar color="danger">
        <ion-title color="dark">Solicitar</ion-title>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list lines="full">
        <ion-item>
            <ion-label position="floating"> Ingrese una Descripción</ion-label>
            <ion-textarea rows="6" required type="text" [(ngModel)]="solicitud.descripcion"></ion-textarea>
        </ion-item>

        <div>
            <agm-map [latitude]='lat' [longitude]='long' (centerChange)="newAddress($event)" >
                <agm-marker 
                    [latitude]="lat" 
                    [longitude]="long">
                </agm-marker>
            
                <agm-marker [latitude]="centerLocation.latitude" [longitude]="centerLocation.longitude" [iconUrl]="icons.pointer" #centerPosition>
                  <agm-info-window><strong>{{centerLocation.address}}</strong></agm-info-window>
                </agm-marker>
            
            </agm-map>
        </div>

        <ion-item>
            <ion-label>Seleccionar servicios</ion-label>
            <ion-select multiple [(ngModel)]="solicitud.servicios">
                <ion-select-option *ngFor="let servicio of servicios | async" value="{{servicio.uid}}">
                    {{servicio.tipo}}
                </ion-select-option>
            </ion-select>
        </ion-item>



        <div style="text-align: center;">

            <ion-button shape="round" fill="outline" color="danger" (click)="upload() ">Solicitar</ion-button>
        </div>


    </ion-list>
</ion-content>