<ion-header>
    <ion-toolbar color="danger">
        <ion-title style="color: black;">Respuestas</ion-title>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list>
        <ion-item *ngFor='let respusta of respuestas |async; trackBy: trackByFn'>
            <ion-label>
                <h2>{{respusta.uid}}</h2>
            </ion-label>
        </ion-item>
    </ion-list>

    <ion-button color="danger" (click)="mostrar()"></ion-button>

</ion-content>