<ion-header>
    <ion-toolbar color="danger">
        <ion-title style="color: black;">Dirección</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <img class="logo" src=" assets/registro.jpg ">
    <ion-list lines="full" class="ion-no-margin ion-no-padding">

        <ion-item>
            <ion-label position="floating">Genero</ion-label>
            <ion-select [(ngModel)]="info.genero">
                <ion-select-option value="Masculino">Masculino</ion-select-option>
                <ion-select-option value="Femenino">Femenino</ion-select-option>
            </ion-select>
        </ion-item>

        <div>
            <agm-map [latitude]='lat' [longitude]='long' (centerChange)="newAddress($event)" >
                <agm-marker 
                    [latitude]="lat" 
                    [longitude]="long">
                </agm-marker>
            
                <agm-marker [latitude]="centerLocation.latitude" [longitude]="centerLocation.longitude" [iconUrl]="icons.pointer" #centerPosition>
                  <agm-info-window><strong>{{centerLocation.address}}</strong></agm-info-window>
                </agm-marker>
            
            </agm-map>
        </div>

        <ion-item>
            <ion-label position="floating">Referencia</ion-label>
            <ion-input required type="text" [(ngModel)]="info.referencia"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating">Numero de casa</ion-label>
            <ion-input required type="text" [(ngModel)]="info.numeroCasa"></ion-input>
        </ion-item>

    </ion-list>

    <div class="ion-padding">
        <ion-button color="danger" expand="block" type="submit" (click)="addUserInfo()" class="ion-no-margin">Finalizar</ion-button>
    </div>
</ion-content>