<ion-content>
    <ion-slides>

        <ion-slide>
            <div class="slide">
                <img src="assets/logo.jpg" />
                <h2>Bienvenido!</h2>
                <p><b>Tu Contacto App</b> es una aplicación que te servirá para contactarte con varias empresas y trabajadores quienes te ayudarán con algunos servicios básicos.</p>
            </div>
        </ion-slide>

        <ion-slide>
            <img src="assets/images/inicioEmpresa.png" />
            <h2>¿Como empezar?</h2>
            <p>Empecemos iniciando sesión como Empresa. Ingresa tu correo y contraseña</p>
        </ion-slide>

        <ion-slide>
            <img src="assets/images/homeEmpresa.png" />
            <h2>Esta es tu página inicial</h2>
            <p>En esta página se listarán los trabajos destinados para ti. Puedes revisar y acceder a ellos para obtener más información</p>
        </ion-slide>
        
        <ion-slide>
            <img src="assets/images/trabajosEmpresa.png" />
            <h2>Obtenemos información del problema</h2>
            <p>Cuando evalues el problema y creas poder ayudar, confirma y envía un mensaje con la información que desees comunicar al respecto. Tambien puedes acceder a la información del usuario</p>
        </ion-slide>

        <ion-slide>
            <img src="assets/images/mensajeEmpresa.png" />
            <h2>Enviamos un mensaje</h2>
            <p>Cuando confirmes tu ayuda se te pedirá que ingreses un mensaje corto, para convencer al usuario de escogerte por encima de tus competidores.</p>
        </ion-slide>

        <ion-slide>
            <img src="assets/images/trabajosEmpresa.png" />
            <h2>Una vez enviado tu mensaje espera la respuesta del usuario</h2>
            <p>Si el usuario acepta tu solicitud escogerá una fecha y te llegará la información correspondiente</p>
        </ion-slide>

        <ion-slide>
            <img src="assets/logo.jpg" />
            <h2>El usuario debe finalizar el trabajo</h2>
            <p>Una vez finalizado el trabajo el usuario desde su interfaz procede a dar por finalizado el trabajo y a calificarte.</p>
        </ion-slide>

        <ion-slide>
            <img src="assets/logo.jpg" />
            <h2>¿Listo para iniciar?</h2>
            <ion-button fill="clear" (click)="continuar()">Continuar
                <ion-icon slot="end" name="arrow-forward"></ion-icon>
            </ion-button>
        </ion-slide>

    </ion-slides>
</ion-content>