<ion-content>
    <ion-slides>

        <ion-slide>
            <div class="slide">
                <img src="assets/logo.jpg" />
                <h2>Bienvenido!</h2>
                <p><b>Tu Contacto App</b> es una aplicación que te servirá para contactarte con varias empresas y trabajadores quienes te ayudarán con algunos servicios básicos.</p>
            </div>
        </ion-slide>

        <ion-slide>
            <img src="assets/images/registro.png" />
            <h2>Empecemos creando una cuenta</h2>
            <b>Datos personales</b>
        </ion-slide>

        <ion-slide>
            <img src="assets/images/direccion.png" />
            <h2>Facilitanos tu dirección</h2>
            <p><b>Necesitamos tu dirección para enviarte ayuda</b>La dirección y tus datos personales serán guardados confidencialmente en nuestra base de datos.</p>
        </ion-slide>

        <ion-slide>
            <img src="assets/images/inicio.png" />
            <h2>Ya con tu cuenta creada inicia sesión</h2>
            <p>Utiliza tu correo y contraseña</p>
        </ion-slide>

        <ion-slide>
            <img src="assets/images/home.png" />
            <h2>¡Excelente, ahora estamos en la página principal!</h2>
            <b>Aquí estan los servicios que podemos ofrecerte</b>
        </ion-slide>

        <ion-slide>
            <img src="assets/images/solicitar.png" />
            <h2>Ahora pidamos ayuda</h2>
            <b>Introduce una descripción de tu problema, selecciona que profesional requieres. Puedes apoyar la información con una o más imagenes. </b>
        </ion-slide>

        <ion-slide>
            <img src="assets/images/menu.png" />
            <h2>En el menú lateral podremos navegar por la aplicación</h2>
            <b>Aquí tendremos el acceso a información importante de nuestras solicitudes y el estado en el que se encuentran</b>
        </ion-slide>

        <ion-slide>
            <img src="assets/images/solicitudes.png" />
            <h2>Podemos obtener las solicitudes realizadas</h2>
            <b>Aquí mostramos todas las solicitudes que has realizado y estan pendientes.</b>
        </ion-slide>

        <ion-slide>
            <img src="assets/images/respuesta.png" />
            <h2>Pronto recibirás una respuesta por parte de los trabajadores</h2>
            <b>Debes esperar unos momentos hasta obtener esta respuesta, pero tratamos de hacer que sea una respuesta lo más ágil posible.</b>
        </ion-slide>

        <ion-slide>
            <img src="assets/images/aceptar.png" />
            <h2>Acepta al trabajador</h2>
            <b>Todos los que respondieron a tu solicitud aparecerán, podrás escoger el que te parezca. Tienes su calificación de trabajos anteriores.</b>
        </ion-slide>

        <ion-slide>
            <img src="assets/images/calificar.png" />
            <h2>Cuando tu trabajo este completado calificalo</h2>
            <b>Puedes añadir una imagen y seleccionar una puntuación. También puedes subir una imagen del resultado</b>
        </ion-slide>

        <ion-slide>
            <img src="assets/logo.jpg" />
            <h2>¿Listo para iniciar?</h2>
            <ion-button fill="clear" (click)="continuar()">Continuar
                <ion-icon slot="end" name="arrow-forward"></ion-icon>
            </ion-button>
        </ion-slide>

    </ion-slides>
</ion-content>