<ion-header>
    <ion-toolbar color="danger">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title color="dark">Perfil</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div *ngIf="(current_user) as current_user">
        <ion-item>
            <ion-thumbnail slot="start">
                <img [src]="current_user.photoURL" />
            </ion-thumbnail>
            <ion-label>
                <h4>Nombre:</h4>
                <h2>{{current_user.displayName}}</h2>
                <h3>{{current_user.email}}</h3>
                <br>
                <div *ngIf="calificacion != 0">
                    <ion-label>{{calificacion}}</ion-label>
                    <app-rate [rating]="calificacion"></app-rate>
                </div>
                <div *ngIf="calificacion == 0">
                    <p class="ion-text-wrap">Este usuario aún no tiene contratos</p>
                </div>
            </ion-label>
        </ion-item>

        <div *ngIf="current_user.rol == 'employee'">
            <ion-item>
                <ion-label>
                    <h4>Descripción: </h4>

                    <h3 class="ion-text-wrap">{{current_user.descripcion}}</h3>
                </ion-label>
            </ion-item>

            <ion-item>
                <h1>Comentarios</h1>
            </ion-item>
            <div *ngFor="let comentario of comentarios">
                <ion-item>
                    <div class="avatar">
                        <ion-avatar>
                            <img [src]="comentario.userURL" />
                        </ion-avatar>
                        <ion-label color="primary" class="ion-text-wrap name">{{comentario.userName}}</ion-label>
                    </div>
                    <ion-label>
                        <app-rate [rating]="comentario.calificacion"></app-rate>
                        <ion-label class="ion-text-wrap">{{comentario.comentario}}</ion-label>
                    </ion-label>
                </ion-item>
            </div>

        </div>
    </div>

</ion-content>