<ion-header>
    <ion-toolbar color="danger">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title style="color: black;">Próximos Trabajos</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item *ngIf="proximos.length == 0">
            <ion-label>No hay trabajos pendientes</ion-label>
        </ion-item>

        <div *ngFor='let trabajo of proximos'>
            <ion-item>
                <ion-avatar slot="start">
                    <img [src]="trabajo.URL_empresa" />
                </ion-avatar>
                <ion-label>
                    <h2>{{trabajo.name_empresa}}</h2>
                </ion-label>
                <ion-chip outline color="tertiary" slot="end">
                    <ion-label>{{trabajo.fecha_cita}}</ion-label>
                </ion-chip>
            </ion-item>

            <ion-item>
                <ion-label class="ion-text-wrap">{{trabajo.descripcion}}</ion-label>
            </ion-item>

            <ion-grid>
                <ion-row>
                    <ion-col size="3" *ngFor="let photo of trabajo.galeria_antes">
                        <img [src]="photo" (click)="zoom(photo)" />
                    </ion-col>
                </ion-row>
            </ion-grid>

        </div>

    </ion-list>
</ion-content>