<ion-header>
    <ion-toolbar color="danger">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title color="dark">Contáctanos</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <img class="logo" src=" assets/contactanos.jpg ">


    <ion-label class="ion-text-wrap about">
        Para cualquier información te puedes comunicar con nosotros a los siguientes números:
        <br>
        <br>
        <p>
            Celular:0967517923 -0982675148
            <br> Correos: eyungat@est.ups.edu.ec - areinoso@est.ups.edu.ec

        </p>

    </ion-label>


</ion-content>