<ion-header>
    <ion-toolbar color="danger">
        <ion-title>Terminar solicitud</ion-title>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list lines="full">
        <ion-item>
            <ion-text color="danger">
                <h4>Por favor, puntua el servicio que has recibido</h4>
            </ion-text>
        </ion-item>

        <ion-item class="ion-align-self-center">
            <app-rating (ratingChange)="calificar($event)"></app-rating>
        </ion-item>

        <ion-item>
            <ion-label position="floating">Comentarios:</ion-label>
            <ion-textarea rows="6" required type="text" [(ngModel)]="comentario.comentario"></ion-textarea>
        </ion-item>
        <ion-item>
            <ion-button color="danger" (click)="terminarSolicitud()" shape="round" fill="outline" expand="full">Enviar</ion-button>
        </ion-item>

    </ion-list>

</ion-content>