<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Tu Contacto</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <img class="logo" src=" assets/logo.jpg ">

    <ion-label class="ion-text-wrap about">
        La aplicación Tu Contacto nace con el objetivo de proveer de una lista de contactos a los usuarios que requieran de servicios básicos.
    </ion-label>

</ion-content>